$harveys-red:#AD0F35;
$harveys-secondary:#21759b; //dark teal
$harveys-secondary-light:#09BBF9; // light teal
$harveys-tertiary:#BAB023; //mustard

/*rem base = 16*/
/*mixin input is pixels)*/
@mixin font-size($sizeValue: 12) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue/14) + rem;
}

@mixin line-height($heightValue: 12 ){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: ($heightValue/14) + rem;
}