$harveys-red:#AD0F35;


/*rem base = 16*/
/*mixin input is pixels)*/
@mixin font-size($sizeValue: 12) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue/14) + rem;
}

@mixin line-height($heightValue: 12 ){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: ($heightValue/14) + rem;
}